{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/favicon.ico">

    <title>{% block title %}{% endblock %} - didit</title>

    <link href="{% static 'app/css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'app/css/bootstrap-theme.css' %}" rel="stylesheet">
    <link href="{% static 'app/css/application.css' %}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="{% static 'app/js/html5shiv.js' %}"></script>
      <script src="{% static 'app/js/respond.min.js' %}"></script>
    <![endif]-->
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="{% url 'index' %}">didit</a>
        </div>
      </div>
    </div>

    <div class="container">
      {% block content %}

      {% endblock %}
    </div><!-- /.container -->

    <script src="{% static 'app/js/jquery.js' %}"></script>
    <script src="{% static 'app/js/bootstrap.min.js' %}"></script>
  </body>
</html>
