{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/favicon.ico">

    <title>didit</title>

    <link href="{% static 'app/css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'app/css/bootstrap-theme.css' %}" rel="stylesheet">
    <link href="{% static 'app/css/bootstrap-markdown.css' %}" rel="stylesheet">
    <link href="{% static 'app/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'app/css/application.css' %}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="{% static 'app/js/html5shiv.js' %}"></script>
      <script src="{% static 'app/js/respond.min.js' %}"></script>
    <![endif]-->
</head>

<body>

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'index' %}">didit</a>
        </div>
    </div>
</div>

<div class="container">
    <div class="col-md-3">
        <ul id="app-menu" class="main-list nav nav-list">
        {% for list in lists %}
            <li class="list-item"><a data-id="{{ list.id }}" href="{% url 'detail' list.id %}">{{ list.title }}</a></li>
        {% endfor %}
            <li class="create-list"><a href="#"><i class="icon-plus"></i> Create a List</a></li>
        </ul>
    </div>
    <div class="col-md-9" id="app-container">
        <div class="list-body">
            <h1>Select a list.</h1>
        </div>
    </div>
</div>

<script type="text/javascript" src="{% static 'app/js/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'app/js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'app/js/bootstrap-markdown.js' %}"></script>
<script type="text/javascript" src="{% static 'app/js/application.js' %}"></script>
<script type="text/javascript">
    $(function () {
        window.didit = new DiditApp('{% url 'detail' '__' %}');
    });
</script>
<script id="new-list-template" type="text/html">
<div class="list-item">
    <h1>Create a List</h1>
    <form role="form" action="{% url 'create_list' %}">
        {% csrf_token %}
        <div class="form-group">
            <label for="list_title">Title</label>
            <input type="text" class="form-control" required="required" id="list_title" placeholder="Enter a title" name="title">
        </div>
        <button type="submit" class="btn btn-default">Create</button>
    </form>
</div>
</script>

</body>
</html>
